language: php

matrix:
  fast_finish: true
  include:
    - php: 7.3
    - php: 7.2
    - php: nightly
      env: COMPOSER_INSTALL_FLAGS=--ignore-platform-reqs
  allow_failures:
    - php: nightly

before_script:
  - cp .env.example .env
  - travis_retry composer install --no-interaction --prefer-dist ${COMPOSER_INSTALL_FLAGS}
  - yarn

script:
  - php artisan key:generate
  - yarn prod
  - vendor/bin/homestead make
  - vendor/bin/phpunit --coverage-clover=clover.xml
  - php artisan code:analyse --level=max
  - php artisan fixer:fix --dry-run
  - find ./storage/logs -maxdepth 1 -name "*.log" -print -exec cat {} \;

after_success:
  - bash <(curl -s https://codecov.io/bash)

cache:
  yarn: true
  directories:
    - node_modules
    - $HOME/.composer/cache/files
