language: php

php:
  - '7.3'
  - '7.2'
  - nightly

matrix:
  fast_finish: true
  allow_failures:
    - php: nightly

before_script:
  - cp .env.example .env
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-dist
  - yarn
 
script:
  - yarn prod
  - php artisan key:generate
  - vendor/bin/homestead make

cache:
  yarn: true
  directories:
    - node_modules
    - $HOME/.composer/cache/files