includes:
    - vendor/nunomaduro/larastan/extension.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon

parameters:
    paths:
        - app
        - Modules

    autoload_directories:
        - %rootDir%/../../../Modules

    excludes_analyse:
        - %rootDir%/../../../Modules/*/Database/factories/*.php
